<section class="dashboard-module">
    <div class="container">
        <div class="charts-div">
            <div class="statistcs">
                <p class="block-head">Total Employees</p>
                <p class="block-content">250 +</p>
            </div>
            <div class="emp-status">
                <app-d3-doughnut></app-d3-doughnut>
            </div>
            <div class="productivity">

            </div>
            <div class="statistcs">
            </div>
            <div class="leave-status">
                <app-bar-chart></app-bar-chart>
            </div>
        </div>
    </div>
</section>