@import '../../../assets/scss/variables';

.dashboard-module{
    background-color: $color-primary;

    .charts-div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .emp-status{
        width: 49%;
    }
    .leave-status{
        width: 49%;
    }
}