@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';
@import '../../../assets/scss/base';

.createemp-module {
    padding: $spacer-6 $spacer-0;

    .heading {
        padding: $spacer-4;
        color: $color-primary;
        text-align: center;
        line-height: 35px;
    }

    .heading-text {
        font-size: $font-heading;
        font-weight: 700;
    }

    
}