@import '../../../assets/scss/variables';

.indicators {
    padding: $spacer-2;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid $color-contrasting;

    .color-div {
        padding: $spacer-1;
        width: 183px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: $color-white;
    }

    .color {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        margin-right: $spacer-2;
        &.one {
            background-color: #FB8500;
        }

        &.two {
            background-color: #219EBC;
        }
    }
}