@import '../../../assets/scss/variables';

.base{
    display: flex;
    justify-content: space-around;
    align-items: center;
    #data{
        font-size: $font-md;
        color: $color-contrasting;
        padding: $spacer-2;

        ul{
            list-style: none;
        }
        
    }
}
